.card {
  border-radius: 2rem;
  border-color: var(--gray700);
  padding: 2rem;
  .card-title {
    font-size: clamp(1.75rem, 1.17848rem + 0.893vw, 2.25rem);
    font-weight: bold;
    color: var(--gray32);
    span {
      font-size: 1.25rem;
      color: var(--gray85);
      font-weight: 400;
    }
  }
  .card-subtitle {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--gray32);
  }
  .card-text {
    color: var(--gray85);
    min-height: 6.875rem;
  }
  hr {
    border-top: var(--gray700) solid;
    opacity: 1;
  }
}
