.dashboard-wrapper {
  .setting-sec {
    .card {
      border: 0;
      border-radius: 1rem;;
      h4 {
        min-height: 3.75rem;
      }
      p {
        min-height: 9.15rem;
      }
    }
  }
  .account-sec {
    text-align: center;
    .bg-pill {
      border-radius: 1rem;
      a {
        &.active,
        &:hover {
          background: rgb(56, 161, 250, .53);
          border-radius: 1rem;
        }
      }
    }
  }
  .card-h-315 {
    min-height: 320px;
    overflow: auto;
  }
}

@media (max-width: 64rem)  {
  .dashboard-wrapper {
    .setting-sec {
      .cards-wrapper {
        margin-right: 0 !important;
        gap: 1rem !important;
      }
      .col-xl-5 {
        &.col-lg-6 {
          &.col-12 {
            padding-bottom: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 47.9375rem) {
  .dashboard-wrapper {
    flex-direction: column-reverse;
    .setting-sec {
      .cards-wrapper {
        flex-direction: column;
        margin-bottom: 3rem;
      }
      .col-xl-5 {
        &.col-lg-6 {
          &.col-12 {
            padding-bottom: 1rem;
          }
        }
      }
    }
    .account-sec {
      .bg-pill {
        margin-bottom: 1rem;
      }
    }
  }
}