.dashboard-wrapper {
  .setting-sec {
    width: 40%;
    .cards-wrapper {
      .card {
        border: 0;
        border-radius: 1rem;
        .card-inner-wrapper {
          width: 83%;
          margin-inline: auto;
          h4 {
            min-height: 3.75rem;
          }
          p {
            min-height: 6.25rem;
          }
        }
      }
    }
  }
  .account-sec {
    width: 60%;
    text-align: center;
    .bg-pill {
      min-width: 17.375rem;
      border-radius: 1rem;
      width: max-content;
      a {
        &.active,
        &:hover {
          background: rgb(56, 161, 250, .53);
          border-radius: 1rem;
        }
      }
    }
  }
}

@media (max-width: 64rem)  {
  .dashboard-wrapper {
    .setting-sec {
      width: 50%;
      .cards-wrapper {
        margin-right: 0 !important;
        gap: 1rem !important;
      }
    }
    .account-sec {
      width: 50%;
    }
  }
}

@media (max-width: 47.9375rem) {
  .dashboard-wrapper {
    flex-direction: column-reverse;
    .setting-sec {
      width: 100%;
      .cards-wrapper {
        flex-direction: column;
        margin-bottom: 3rem;
      }
    }
    .account-sec {
      width: 100%;
    }
  }
}