.membership-wrapper {
  padding: 4rem 0;
  .img-section {
    h3 {
      width: 80%;
      color: var(--white);
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
  .membership-plan {
    margin-top: 5rem;
    border-radius: 1rem;
    position: relative;
    z-index: 9;
    .plans-wrapper {
      .plan {
        &:first-of-type {
          padding-bottom: 0.5rem;
          margin-bottom: 1rem;
          border-bottom: 2px solid var(--gray91);
        }
      }
    }
  }
}

@media (max-width: 64rem) {
  .text-inner-wrapper {
    width: 80%;
  }
}

@media (max-width: 47.9375rem) {
}