.users-table {
  a {
    padding: 0;
    svg {
      transition: .3s all linear;
      width: 1.3rem;
      fill: var(--primary);
    }
    &:hover {
      svg {
        fill: var(--primaryhover);
      }
    }
  }
}