.howItWork-wrapper {
  background: var(--white);
  border-radius: 1rem;
  position: relative;
  z-index: 9;
  padding: 4rem 5rem;
  box-sizing: border-box;
  .signUp-screen {
    .desktop-img {
      margin: -13rem 0 1rem;
      img {
        width: 100%;
      }
    }
    .features {
      img {
        height: auto;
        object-fit: contain;
      }
    }
  }
  .steps {
    .step {
      padding-bottom: .5rem;
      margin-bottom: 1rem;
      border-bottom: 2px solid var(--gray91);
      h3 {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 64rem) {
  .howItWork-wrapper {
    padding: 2.5rem 3.5rem;
    .signUp-screen {
      .desktop-img {
        width: 25rem;
        margin: -11rem 0 1rem;
      }
      .btn-wrapper {
        margin-block: 1.5rem !important;
      }
      .btn-wrapper,
      .signUp-text {
        width: 100%;
      }
    }
  }
}

@media (max-width: 47.9375rem) {
  .howItWork-wrapper {
    flex-flow: column;
    padding: 1.5rem 1.7rem;
    .signUp-screen {
      .desktop-img {
        width: 100%;
        margin: -8rem 0 1rem;
      }
      .btn-wrapper {
        margin-block: 1.5rem !important;
      }
      .signUp-text {
        width: 100%;
      }
      .features {
        flex-flow: row wrap;
        margin-bottom: 1.5rem;
        > div {
          width: 50%;
        }
        .icon {
          width: 45px;
        } 
        p {
          width: 50%;
        }
      }
    }
    .steps {
      margin: 0 !important;
    }
  }
}