.tile-block {
  .key-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    .tile {
      background: #FFFFFF;
      border-radius: 3rem;
      padding: 2.375rem;
      h5 {
        color: var(--gray200);
        font-weight: 600;
      }
      p {
        font-size: 1.25rem;
        line-height: 1.875rem;
        color: var(--gray300);
      }
    }
  }
}

@media (max-width: 75rem) {
  .how-works {
    padding-top: 0;
  }
}

@media (max-width: 47.9375rem) {
  .tile-block {
    .key-grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  .how-works {
    &.tile-block {
      .key-grid {
        .tile {
          text-align: center;
        }
      }
    }
  }
}
