.dntTake-wrapper {
  .dntTake-inner-wrapper {
    .reviews-wrapper {
      .review {
        border-radius: 1rem;
        p {
          &:first-of-type {
            min-height: 13.375rem;
          }
        }
      }
    }
  }
}

@media (max-width: 64rem) {
  .slider-item-show3 {
    --swiffy-slider-item-count: 2;
  }
}

@media (max-width: 47.9375rem) {
  .slider-item-show3 {
    --swiffy-slider-item-count: 1;
  }
}