.navbar {
  padding: 1.57rem 0;
  .logo {
    width: 13.5rem;
    img {
      width: 100%;
    }
  }
  a {
    font-size: 1rem;
    color: var(--darkprimary);
    font-weight: 600;
    padding: 0.7143rem 1.785rem;
    transition: .3s all linear;
    &:hover {
      color: var(--primary);
    }
  }
  .sign-up {
    background: var(--primary);
    border-radius: 12px;
    color: var(--white);
    &:hover {
      background: var(--primaryhover);
      color: var(--white);
    }
  }
  .user-details {
    img {
      width: 20px;
    }
  }
}
.cartIcon {
  position: relative;
  span {
    position: absolute;
    bottom: 10px;
    font-size: 10px;
    background: var(--alert);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
.cartClear {
  position: absolute;
  min-width: 450px;
  min-height: 190px;
  background: var(--white);
  top: 60px;
  right: 10px;
  z-index: 999;
  padding: 12px;
  font-family: "Poppins";
  .cart-item {
    border-bottom: 2px solid var(--gray94);
    padding-bottom: 10px;
    font-size: 16px;
    .merchantName {
      font-weight: 700;
      margin: 0;
      font-size: 16px;
    }
  }
  .xMark {
    color: var(--alert); 
    font-size: 11px; 
    font-weight: 700; 
    cursor: pointer;
  }
}

@media (max-width: 47.9375rem) {
  .small-devices {
    flex-wrap: nowrap;
    align-items: center;
  }
  .navbar {
    padding: 1.57rem 0;
    .logo {
      width: 9.5rem;
    }
  }
}
