.navbar {
  padding: 1.57rem 0;
  .logo {
    width: 13.5rem;
    img {
      width: 100%;
    }
  }
  a {
    font-size: 1rem;
    color: var(--darkprimary);
    font-weight: 600;
    padding: 0.7143rem 1.785rem;
    transition: .3s all linear;
    &:hover {
      color: var(--primary);
    }
  }
  .sign-up {
    background: var(--primary);
    border-radius: 12px;
    color: var(--white);
    &:hover {
      background: var(--primaryhover);
      color: var(--white);
    }
  }
  .user-details {
    img {
      width: 20px;
    }
  }
}

@media (max-width: 47.9375rem) {
  .small-devices {
    flex-wrap: nowrap;
    align-items: center;
  }
  .navbar {
    padding: 1.57rem 0;
    .logo {
      width: 9.5rem;
    }
  }
}
