.navbar {
  background-color: var(--gray400);
  .logo {
    width: 6.375rem;
    img {
      width: 100%;
    }
  }
  .navbar-nav {
    a {
      font-weight: 600;
      color: #12141D;
      display: flex;
      align-items: center;
      margin: 0 1.25rem;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: var(--primary);
      }
    }
  }
}
