.sidebar {
  min-height: calc(100vh - 13.575rem);
  height: 100%;
  .nav-list {
    .nav-item {
      .nav-link {
        transition: .3s all linear;
        svg {
          width: 2.5rem;
          transition: .3s all linear;
          fill: var(--darkprimary);
        }
        &:hover {
          color: var(--primary);
          svg {
            fill: var(--primary);
          }
        }
      }
      &.active {
        .nav-link {
          color: var(--primary);
          svg {
            fill: var(--primary);
          }
        }
      }
    }
  }
  .dropdown {
    .nav-link {
      white-space: nowrap;
      svg {
        width: 2.5rem;
        transition: .3s all linear;
        fill: var(--darkprimary);
      }
      &:hover {
        color: var(--primary);
        svg {
          fill: var(--primary);
        }
      }
    }
  }
}

@media (max-width: 64rem)  {
  .sidebar {
    min-height: calc(100vh - 14.775rem);
    .nav-list {
      .nav-item {
        .nav-link {
          svg {
            width: 2.188rem;
          }
        }
      }
    }
    .dropdown {
      .nav-link {
        svg {
          width: 2.188rem;
          transition: .3s all linear;
          fill: var(--darkprimary);
        }
        &:hover {
          color: var(--primary);
          svg {
            fill: var(--primary);
          }
        }
      }
    }
  }
}

@media (max-width: 47.9375rem) {
  .sidebar {
    .nav-list {
      .nav-item {
        padding: 1rem 0;
        .nav-link {
          svg {
            width: 1.488rem;
          }
        }
      }
    }
    .dropdown {
      .nav-link {
        svg {
          width: 1.488rem;
        }
      }
    }
  }
}