.dropdown,
.nav-list {
  .nav-link {
    transition: .3s all linear;
    svg {
      width: 40px;
      transition: .3s all linear;
      fill: var(--darkprimary);
    }
    &:hover {
      color: var(--primary);
      svg {
        fill: var(--primary);
      }
    }
  }
}
