footer {
  padding: 1.25rem 0;
  .logo {
    width: 13.5rem;
    img {
      width: 100%;
    }
  }
  .links-wrapper {
    a {
      color: var(--darkprimary);
      transition: .3s all linear;
      &:hover {
        color: var(--primary);
      }
    }
  }
}

@media (max-width: 47.9375rem) {
  footer {
    .footer-wrapper {
      justify-content: space-between;
      .logo {
        width: 9.5rem;
      }
      .links-wrapper {
        width: auto !important;
        flex-flow: column;
        gap: .454rem;
      }
    }
  }
}