footer {
  padding: 1.25rem 0;
  .logo {
    width: 13.5rem;
    img {
      width: 100%;
    }
    p {
      font-size: 14px;
      margin: .55rem 0 0;
    }
  }
  .links-wrapper {
    a {
      color: var(--darkprimary);
      transition: .3s all linear;
      &:hover {
        color: var(--primary);
      }
    }
  }
}