@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--gray32);
}

:root {
  --primary:           #7C2AE8;
  --primaryhover:      #5a0dbf;
  --darkgray:          #4B3425;
  --gray50:            #52525B;
  --gray100:           #18181B;
  --gray200:           #12141D;
  --gray181:           #181B1F;
  --gray39:            #393E44;
  --gray300:           #3F3F46;
  --gray400:           #FAFAFA;
  --gray500:           #F4F4F5;
  --gray600:           #D4D4D8;
  --gray700:           #E4E4E7;
  --grayf8:            #F8F9FB;
  --graye5:            #E5E5E7;
  --grayfc:            #FCFDFE;
  --graye3:            #E3E9EE;
  --grayf1:            #F1F5F9;
  --grayed:            #EDEDED;
  --gray7c:            #7C878E;
  --gray85:            #858C95;
  --gray5c:            #5C5F62;
  --gray32:            #323539;
  --gray97:            #979797;
  --danger:            #E33B32;
  --green:             #2AA63C;
  --green400:          #F3FFF6;
  --red:               #C8322B;
  --red400:            #FFEFEE;
}

a {
  color: var(--primary);
  text-decoration: none;
  &:hover {
    color: var(--primaryhover);
  }
}

.gray32 {
  color: var(--gray32);
}

.gray85 {
  color: var(--gray85);
}

.gray7c {
  color: var(--gray7c);
}

.gray5c {
  color: var(--gray5c);
}

.fw-small {
  font-size: .875rem;
}

.fw-small-xs {
  font-size: .8125rem;
}

.fw-medium {
  font-weight: 600 !important;
}

.btn {
  padding: .75rem 1.25rem;
  &-primary {
    border-radius: 100px;
    background-color: var(--primary);
    border-color: var(--primary);
    font-weight: 600;
    &:hover {
      background-color: var(--primaryhover);
      border-color: var(--primaryhover);
    }
    &:focus-visible,
    &:focus {
      background-color: var(--primaryhover);
      border-color: var(--primaryhover);
      box-shadow: none;
    }
    &:not(.btn-check)+.btn {
      &:active {
        background-color: var(--primaryhover);
          border-color: var(--primaryhover);
          box-shadow: none;
        &:focus-visible {
          background-color: var(--primaryhover);
          border-color: var(--primaryhover);
          box-shadow: none;
        }
      }
    }
    &:first-child {
      &:active {
        background-color: var(--primaryhover);
        border-color: var(--primaryhover);
        box-shadow: none;
        &:focus-visible {
          box-shadow: none;
        }
      }
    }
  }
  &-outline-primary {
    border-color: var(--primary);
    border-radius: 100px;
    border-width: 2px;
    color: var(--primary);
    &:hover {
      background-color: var(--primaryhover);
      border-color: var(--primaryhover);
    }
    &:first-child {
      &:active {
        background-color: var(--primaryhover);
        border-color: var(--primaryhover);
        box-shadow: none;
        &:focus-visible {
          box-shadow: none;
        }
      }
    }
  }
  &-outline-secondary {
    border-radius: 100px;
    background-color: var(--graye5);
    border-color: var(--gray97);
    font-weight: 600;
    &:hover {
      background-color: var(--gray85);
      border-color: var(--gray85);
    }
    &:first-child {
      &:active {
        background-color: var(--gray85);
        border-color: var(--gray85);
        box-shadow: none;
        &:focus-visible {
          box-shadow: none;
        }
      }
    }
  }
  &-danger {
    background-color: var(--danger);
    border-color: var(--danger);
  }
  &-default {
    border-radius: 6px;
    border-color: var(--graye5);
    box-shadow: 0px 1px 2px 0px #1018280A;
    font-weight: 600;
    &:hover {
      background-color: var(--graye5);
      border-color: var(--gray85);
    }
    &:first-child {
      &:active {
        background-color: var(--gray85);
        border-color: var(--graye5);
        box-shadow: none;
        &:focus-visible {
          box-shadow: none;
        }
      }
    }
  }
}

h2 {
  font-size: clamp(3rem, 2.7378rem + 1.104vw, 4.0625rem);
  font-weight: 700;
  color: var(--darkgray);
  letter-spacing: -4px;
  span, .markerlight {
    color: var(--primary);
    background: url('../src/assets/images/marker.svg') no-repeat 0px 1.5625rem;
    display: inline-flex;
    background-size: 100% 100%;
    padding: 0 1.5rem 1.25rem 0;
  }
  .markerlight {
    background: url('../src/assets/images/markerlight.svg') no-repeat 0px 4.0625rem;
    background-size: contain !important;
  }
}

h3 {
  font-size: clamp(1.75rem, 1.17848rem + 0.893vw, 2.25rem);
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: clamp(1.125rem, 0.6962rem + 0.67vw, 1.5rem);
  font-weight: 400;
  line-height: 2.375rem;
}

p {
  font-size: clamp(0.875rem, 0.73228rem + 0.223vw, 1rem);
}

li {
  font-size: clamp(0.875rem, 0.73228rem + 0.223vw, 1rem);
}

hr {
  border-top: var(--graye5) solid;
  opacity: 1;
}

.small-btn {
  padding: .75rem 2rem;
  font-weight: bold;
}

.grayBg {
  background-color: var(--gray400);
}

.section-spacing {
  padding-block: 6.25rem;
}

.form-label {
  font-size: .875rem;
  font-weight: 600;
}

.custom-container {
  margin: 0px 7.292vw;
  border-radius: 1.25rem;
}

.chatbot-bg {
  background-color: var(--grayfc);
}

.form-control {
  height: 2.875rem;
  background: var(--grayf8);
  border: 1px solid var(--graye5);
  border-radius: 6px;
  line-height: 2.875rem;
  &:focus {
    border-color: var(--primary);
  }
  &::placeholder {
    font-size: .9375rem;
    color: var(--gray85);
  }
}

.users-modal {
  .modal-dialog {
    max-width: 32rem;
    .modal-content {
      border: 1px solid var(--gray700);
      border-radius: 2rem;
      .modal-header {
        border-bottom: 0;
        padding: 24px;
        .modal-title {
          font-size: 1.5rem;
          font-weight: bold;
          color: var(--gray32);
        }
        .btn-close {
          font-size: 12px;
          &:hover {
            box-shadow: none;
          }
        }
      }
      .modal-body {
        padding: 2rem;
      }
    }
  }
  &.welcomModal {
    .modal-dialog {
      max-width: 38.75rem;
    }
  }
}

.form-check {
  input {
    margin-right: .9375rem;
  }
  .form-check-input {
    width: 1.25rem;
    height: 1.25rem;
    
  }
  &.form-switch {
    .form-check-input {
      width: 2.125rem;
      height: 1.25rem;
      border-radius: 6.25rem;
    }
  }
}

.form-check {
  .form-check-input {
    background-image: url('../src/assets/images/toggle-gray.svg');
    &:focus {
      box-shadow: none;
      border-color: var(--graye5);
      --bs-form-switch-bg: url('../src/assets/images/toggle-gray.svg');
      background-image: url('../src/assets/images/toggle-gray.svg');
    }
    &:checked {
      --bs-form-switch-bg: url('../src/assets/images/toggle-white.svg');
      background-image: url('../src/assets/images/toggle-white.svg');
      background-color: var(--primary);
      border: var(--primary);
    }
  }
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

.list-view {
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      position: relative;
      font-weight: 600;
      color: var(--gray85);
      padding: .375rem 0 .375rem 2.125rem;
      display: flex;
      align-items: center;
      &::before {
        background: url("../src/assets/images/list-tick.svg");
        position: absolute;
        content: '';
        width: 1.375rem;
        height: 1.375rem;
        background-size: 100%;
        left: 0;
      }
    }
  }
}

.settings {
  .btn {
    font-size: .875rem;
    padding: .5938rem .75rem;
  }
  .outer {
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    border-radius: .625rem;
    border: 1px solid var(--graye5);
    margin-bottom: 1.9375rem;
    .btn {
      &.btn-default {
        padding: .4063rem .75rem;
      }
    }
  }
  .cards-bar {
    padding: .7125rem 1.5rem .7063rem 1.5rem;
    border-bottom: 1px solid var(--graye5);
    &:last-child {
      border-bottom: 0;
    }
  }
}

.form-group {
  position: relative;
  span {
    background: url('../src/assets/images/eye-icon.svg') no-repeat center;
    width: 1.75rem;
    height: 1.75rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .625rem;
    transform: translateX(0%);
    cursor: pointer;
    &:hover, &:focus, &.active {
      filter: brightness(0) saturate(100%) invert(9%) sepia(100%) saturate(7142%) hue-rotate(271deg) brightness(79%) contrast(100%);
    }
  }
}


@media (max-width: 75rem) {
  html {
    font-size: 14px;
  }
}
