.nav-tabs {
  background-color: var(--grayf1);
  border: 1px solid var(--graye3);
  border-radius: .75rem;
  padding: 0.29rem;
  gap: 1.25rem;
  box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
  .nav-item {
    .nav-link {
      font-size: .875rem;
      font-weight: 600;
      color: var(--gray181);
      border: 0;
      margin: 0;
      &.active, &:hover {
        background: var(--grayfc);
        box-shadow: 0px 16px 16px -4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        border: 0;
        margin: 0;
      }
    }
  }
}
.chat-grid {
  display: grid;
  grid-template-columns: 1fr 20rem;
  .conversation-cover {
    padding: 2rem;
    .chat-tabs-section {
      border: 1px solid var(--graye3);
      background-color: var(--garyfc);
      padding: 2rem 4rem;
      border-radius: 1.25rem;
      h4 {
        color: var(----gray181);
      }
      p {
        color: var(--gray7c);
        font-size: 1.125rem;
        line-height: 24px;
      }
    }
    .tabcontent {
      min-height: 16.875rem;
    }
    .suggestions {
      padding: 1.875rem 2.5rem;
      .btn-tags {
        .btn {
          border-radius: 8px;
          background-color: white;
          color: var(--gray5c);
          font-size: .9375rem;
          border: 1px solid rgba(0, 0, 0, 0.14);
          padding: .375rem .5rem;
          margin-right: .375rem;
          &:last-child {
            margin-right: 0;
          }
          &:hover, &.active, &:focus {
            background-color: var(--grayed);
          }
        }
      }
      .remove-tag {
        a {
          width: 2.25rem;
          height: 2.25rem;
          border-radius: 6.25rem;
          border: 1px solid rgba(0, 0, 0, 0.14);
          display: flex;
        }
      }
      .chat-input {
        border: 1px solid var(--primary);
        border-radius: 1rem;
        padding: .5rem 1.875rem .5rem 1.25rem;
        .form-control {
          border: 0;
          background-color: transparent;
        }
        form {
          width: 100%;
        }
        .up-arrow {
          border: 1.5px solid var(--graye3);
          width: 1.875rem;
          height: 1.875rem;
          border-radius: .3125rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 0.75rem;
          background-color: var(--graye55);
          cursor: pointer;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          img {
            width: 12px;
          }
          &:hover {
            background-color: var(--grayed);
          }
        }
      }
    }
  }
  .contextual-sidebar {
    border-left: 1px solid var(--graye3);
    .search-section {
      padding: .5rem 0 .5rem 1.75rem;
      border-bottom: 1px solid var(--graye3);
      .form-control {
        border: 0;
        background-color: transparent;
      }
    }
    .history-tabs {
      padding: .9375rem;
      .nav-tabs {
        padding: .1875rem;
        .nav-item {
          .nav-link {
            padding: .375rem 1rem;
          }
        }
      }
      .tab-content {
        ul {
          padding: 0;
          li {
            list-style: none;
            a {
              font-size: .875rem;
              color: var(--gray39);
              font-weight: 600;
              padding: .5rem;
              display: block;
              &:hover {
                background-color: var(--gray500);
              }
            }
          }
        }
      }
    }
    .upgrade-chat {
      margin: 0.9375rem;
      background-color: rgba(124, 42, 232, 0.08);
      border-radius: 1.5rem;
      position: relative;
      padding: 2rem 1rem 1rem 1rem;
      .btn-close {
        width: 2.5rem;
        height: 2.5rem;
        background-color: white;
        opacity: 1;
        border: 0;
        border-radius: 100px;
        display: flex;
        position: absolute;
        right: .9375rem;
        top: .9375rem;
        &:hover {
          box-shadow: inset 0px 0px 0px 2px rgba(124, 42, 232, 0.5);
        }
      }
      .empty-chat {
        max-width: 10rem;
        margin: 0 auto;
      }
      .btn {
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}

.chat-section {
  hr {
    margin: 0;
  }
  .chat-wrap {
    max-height: calc(100vh - 460px);
    min-height: calc(100vh - 460px);
    overflow: auto;
    .chat-inner {
      padding: 1.5rem;
      p {
        margin-bottom: 0;
      }
      .chat-grid {
        display: grid;
        grid-template-columns: 2rem 1fr;
        grid-gap: 1.25rem;
        .user-img {
          width: 2rem;
          img {
            width: 100%;
          }
        }
      }
      .chat-title {
        font-size: 1.25rem;
        font-weight: 600;
        .chat-share {
          padding: .375rem 1rem;
          border-radius: 40px;
          font-weight: 600;
          font-size: 14px;
          background-color: var(--gray181);
          color: var(--grayfc);
        }
      }
    }
  }
  .chat-btns-group {
    .chat-btn {
      border: 1.5px solid var(--graye3);
      width: 2.5rem;
      height: 2.5rem;
      border-radius: .75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: .75rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      &:hover {
        background-color: var(--grayed);
      }
    }
  }
}

@media (max-width: 64rem) {
  .chat-grid {
    .conversation-cover {
      .chat-tabs-section {
        padding: 2rem;
      }
      .suggestions {
        padding: 2rem;
      }
    }
  }
}

@media (max-width: 48rem) {
  .chat-grid {
    .conversation-cover {
      padding: 1rem;
      .chat-tabs-section {
        padding: 1rem;
      }
      .suggestions {
        padding: 1rem;
        .btn-tags {
          .btn {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 47.9375rem) {
  .chat-grid {
    grid-template-columns: 1fr;
    .contextual-sidebar {
      border-left: 0;
      .history-tabs {
        padding: 10px;
      }
    }
    .conversation-cover {
      padding: 10px;
      .chat-tabs-section {
        padding: 1rem;
      }
      .suggestions {
        padding: 0;
        .btn-tags {
          .btn {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .chat-section {
    .chat-btns-group {
      .chat-btn {
        img {
          width: 1rem;
        }
      }
    }
  }
}
