.welcom-info {
  font-size: 14px;
  color: var(--gray85);
  font-weight: 600;
  ul {
    padding-left: 1.5625rem;
    li {
      font-size: 14px;
      color: var(--gray85);
      font-weight: 600;
    }
  }
}
